.client-list {
  position: absolute;
  overflow-y: auto;
  border: 1px solid gray;
  border-radius: 2px;
  background-color: white;
  /* Works on Firefox */
  scrollbar-width: thin;
  scrollbar-color: gray white;
}

/* Works on Chrome, Edge, and Safari */
.client-list::-webkit-scrollbar {
  width: 12px;
}

.client-list::-webkit-scrollbar-track {
  background: white;
}

.client-list::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  border: 3px solid white;
}
