.bill-container {
  background: white;
  width: 80mm;
  padding: 10px 20px;
  font-size: 7px;
}
.title {
  text-align: center;
}
.title p {
  margin: 0;
}
.info {
  margin: 20 0;
  text-align: left;
}
.info p {
  margin: 0;
}
.header {
  display: flex;
}
.items {
  flex-direction: row;
  font-weight: bold;
}
.bill-subtotal {
  display: flex;
}
.bill-footer,
.bill-footer p {
  margin: 0;
  text-align: center;
}
textcenter {
  text-align: center;
}
marginbottom10 {
  margin-bottom: 10;
}
